#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.left, .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap:10rem;
  justify-content: center;
  align-items: center;
}

.widget {
  max-width: 30rem;
  max-height: 30rem;
  align-items: center;
  justify-content: center;
}

.widget button {
  background-color: gray;
  width: 20rem;
  height: 20rem;
  margin: 10px auto;
}
