#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#archivo {
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 112.5;
}

.dashboard {
  background-color: #24293e;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.left, .right {
  width: fit-content;
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}

.widget {
  max-width: 30rem;
  max-height: 30rem;
  align-items: center;
  justify-content: center;
}

.widget button {
  border-radius: 1rem;
  color:#f4f5fc;
  background-color: #363f64;
  width: 10rem;
  height: 15rem;
}
